cmake_minimum_required(VERSION 3.8)
project(test_package CXX)

$optional_content

find_package($package_altname REQUIRED CONFIG)

add_executable($${PROJECT_NAME} test_package.cpp)
target_link_libraries($${PROJECT_NAME} PRIVATE $package_altname::$package_altname)
set_target_properties($${PROJECT_NAME} PROPERTIES CXX_STANDARD 20)